@model QLHOLIDAYPARTY.Models.RegisterModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container-fluid">
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <div id="man2" class="col-md-5 mainDiv bg-primary" style="background-color:#008cba;" onclick="location.href = 'Home/editer';" onloadstart="fadeStart();" onmouseover="Faded(this.id);">
                <h1>Change</h1>
            </div>
            @Html.HiddenFor(a => a.Email)
        }
        else
        {
            <div id="man2" class="col-md-5 mainDiv bg-primary" style="background-color:#008cba;" onclick="location.href = 'Identity/Registration';" onloadstart="fadeStart();" onmouseover="Faded(this.id);">
                <h1>Register</h1>
            </div>

        }
        <div class="col-md-1">
            <h1>&nbsp;</h1>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="man1" class="col-md-5 mainDiv bg-primary" style="background-color:#43ac6a;" onclick="location.href = 'Home/Dish';" onloadstart="fadeStart();" onmouseover="Faded(this.id);">
                <h1>Bring A Dish</h1>

            </div>
        }
        else
        {
            <div id="man1" class="col-md-5 mainDiv bg-primary" style="background-color:#43ac6a;" onclick="location.href = 'Identity/Login';" onloadstart="fadeStart();" onmouseover="Faded(this.id);">
                <h1>Login</h1>

            </div>

        }
    </div>
</div>