body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("http://images6.fanpop.com/image/photos/40100000/Baby-Penguin-penguins-40120979-1024-768.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainDiv{
    height: 400px;
    text-align: center;
    opacity: .3;
    border-radius: 25px;
}
    .mainDiv:hover {
        opacity: 1;
        cursor: -webkit-grab;
    }
    .mainDiv:active{
        cursor: -webkit-grabbing;
    }

a{
    display: block;
}

input[type='checkbox'], input[type='radio'] {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
} 